.dark-mode .card {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.dark-mode .w3-button.w3-white {
  background-color: #333 !important; /* dark background */
  color: #fff !important; /* white text */
  border-color: #777 !important; /* softer border */
}
